</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-793d3c6 animated fadeIn" data-id=793d3c6 data-element_type=column data-e-type=column data-settings='{"animation":"fadeIn","animation_delay":300}'>
  <div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-6e1e7fb de_scroll_animation_no elementor-widget elementor-widget-heading" data-id=6e1e7fb data-element_type=widget data-e-type=widget data-widget_type=heading.default>
      <div class=elementor-widget-container>
        <h3 class="elementor-heading-title elementor-size-default">Open Hours</h3> </div>
      </div>
      <div class="elementor-element elementor-element-f6a39bc de_scroll_animation_no elementor-widget elementor-widget-text-editor" data-id=f6a39bc data-element_type=widget data-e-type=widget data-widget_type=text-editor.default>
        <div class=elementor-widget-container>
          <p>Monday – Friday <br>07.00 – 20.00<p>Satuday – Sunday<br>06.00 – 18.00</p> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-c41ac8b elementor-reverse-mobile elementor-section-boxed elementor-section-height-default" data-id=c41ac8b data-element_type=section data-e-type=section>
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d02ca5c" data-id=d02ca5c data-element_type=column data-e-type=column>
      <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-3412e84 de_scroll_animation_no elementor-widget elementor-widget-text-editor" data-id=3412e84 data-element_type=widget data-e-type=widget data-widget_type=text-editor.default>
          <div class=elementor-widget-container>
            <p>Copyright © 2022 ASK Project</p> </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2459a78" data-id=2459a78 data-element_type=column data-e-type=column>
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-9a795f1 elementor-widget__width-auto de_scroll_animation_no elementor-widget elementor-widget-button" data-id=9a795f1 data-element_type=widget data-e-type=widget data-widget_type=button.default>
            <div class=elementor-widget-container>
              <div class=elementor-button-wrapper>
                <a class="elementor-button elementor-button-link elementor-size-sm" href=#>
                  <span class=elementor-button-content-wrapper>
                    <span class=elementor-button-text>Privacy Policy</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="elementor-element elementor-element-a575e43 elementor-widget__width-auto de_scroll_animation_no elementor-widget elementor-widget-button" data-id=a575e43 data-element_type=widget data-e-type=widget data-widget_type=button.default>
            <div class=elementor-widget-container>
              <div class=elementor-button-wrapper>
                <a class="elementor-button elementor-button-link elementor-size-sm" href=#>
                  <span class=elementor-button-content-wrapper>
                    <span class=elementor-button-text>Terms &amp; Services</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>
</div>
</section>
</div>
</div> </footer>
